<div class="wrapper">
  <header>Cat finder</header>
  <div class="content">
      <form class="filters">
        <section class="clear">
          <button mat-stroked-button color="primary">Clear filters</button>
        </section>
        <section class="breads" [formGroup]="breedsGroup">
          <h4>Pick a breed:</h4>
          <div><mat-checkbox *ngFor="let breed of breeds" [formControlName]='breed.id'>{{ breed.name }}</mat-checkbox></div>
        </section>
        <section class="space-filler"></section>
        <section class="find">
          <button mat-raised-button color="primary">Find</button>
        </section>
      </form>
    <div class="list">
      <div class="cats">

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            long test
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            long test
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            long test
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            long test
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            long test
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            long test
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            long test
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            long test
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            long test
          </mat-card-content>
        </mat-card>

        <mat-divider></mat-divider>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Small</mat-card-subtitle>
              <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            long test
          </mat-card-content>
        </mat-card>

      </div>
      <div class="pagination">
        <mat-paginator [length]="100"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]"
                       aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
