<mat-drawer-container class="sidenav-container" autosize>
<div class="wrapper">
  <div class="menu" (click)="drawer.open()">
    <mat-icon aria-hidden="false" fontIcon="menu"></mat-icon>
  </div>
    <mat-drawer #drawer class="sidenav" mode="over" position="end" disableClose="false">
      <div class="close-sidenav">
        <button (click)="drawer.close()">
          <mat-icon aria-hidden="false" fontIcon="close"></mat-icon>
        </button>
      </div>
      <ng-container *ngTemplateOutlet="filter"></ng-container>
    </mat-drawer>
  <header>Cat finder</header>
  <div class="content">
    <ng-container *ngTemplateOutlet="filter"></ng-container>
    <div class="list">
      <div [ngStyle]="{'display': isLoading === true ? 'block' : 'none'}">
        <mat-spinner></mat-spinner>
      </div>
      <div class="cats">
        <div class="cat" *ngFor="let cat of catInfo">
          <mat-card class="card" *ngIf="cat.breeds.length !== 0">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>{{ cat.breeds[0].name }}</mat-card-title>
                <mat-card-subtitle>Temperament: {{ cat.breeds[0].temperament }}</mat-card-subtitle>
                <img mat-card-sm-image [src]="cat.url" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{ cat.breeds[0].description }}
              </p>
              <a mat-raised-button [href]="cat.url" target="_blank">Open</a>
            </mat-card-content>
          </mat-card>
          <mat-card class="card" *ngIf="cat.breeds.length === 0">
            <mat-card-header>
              <mat-card-title-group>
                <mat-card-title>No breed</mat-card-title>
                <img mat-card-sm-image [src]="cat.url" >
              </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
              <a mat-raised-button [href]="cat.url" target="_blank">Open</a>
            </mat-card-content>
          </mat-card>
          <mat-divider></mat-divider>
        </div>
      </div>
      <div class="results">
        <span>{{ catInfo.length }} results have been found</span>
      </div>
    </div>
  </div>
</div>
</mat-drawer-container>

<ng-template #filter>
  <form class="filters" (ngSubmit)="submitBreed()" [formGroup]="breedsGroup">
    <div class="filter-btns">
      <section class="clear">
        <button mat-stroked-button type="reset" color="primary" (click)="clearFilters()">Clear filters</button>
      </section>
      <div>
        <mat-form-field class="pick-results">
          <mat-label>Enter amount of results</mat-label>
          <input matInput formControlName="result" >
          <mat-error *ngIf="breedsGroup.get('result')?.untouched || breedsGroup.get('result')?.invalid">
            {{ breedsGroup.get('result')?.hasError('required') ? 'This filed is required.' :
            breedsGroup.get('result')?.hasError('pattern') ? 'Numbers from 1 to 100.' : ''}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <section class="breads">
      <h4>Pick a breed:</h4>
      <div>
        <mat-checkbox *ngFor="let breed of breeds" [formControlName]="breed.id">{{ breed.name }}</mat-checkbox>
      </div>
    </section>
    <section class="space-filler"></section>
    <section class="search">
      <button mat-raised-button type="submit" color="primary" [disabled]="breedsGroup.invalid">Search</button>
    </section>
  </form>
</ng-template>
