.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  font-size: 60px;
  font-weight: bold;
  padding: 40px 0;
}

.content{
  width: 50vw;
  height: 70vh;
  display: flex;
  padding: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
  border-top: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 4px;

  .filters {
    width: 100%;
    max-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    section {
      padding: 10px;
    }

    .breads {
      align-self: flex-start;
      overflow: auto;
      scrollbar-color: #3f51b5;
      scrollbar-width: thin;
      scrollbar-gutter: unset;

      &::-webkit-scrollbar-corner {
        display: none;
      }

      &::-webkit-scrollbar {
        height: 5px;
        width: 5px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: #3f51b5;
        border-radius: 3px;
      }

      h4 {
        margin: 0;
      }
    }
  }

  .list {
    width: 100%;
    height: 100%;
  }
}
.space-filler {
  flex: 1;
}


.list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cats {
  overflow: auto;
  scrollbar-color: #3f51b5;
  scrollbar-width: thin;
  scrollbar-gutter: unset;
  padding: 0 25px;

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #3f51b5;
    border-radius: 3px;
  }
}

.example-card {
  margin: 10px 5px;
}

mat-checkbox {
  display: block;
}

mat-slider {
  width: 100%;
}

.slider {
  h2 {
    margin: 12px;
  }
}
